* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}


:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding: 100px
}

/* nav bar */

.lan {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nnav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vvvv {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width:767px) {
    .vvvv {
        width: 100%;
        top: 50%;
    }
}


.view .box {
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

.view .box img {
    max-width: 100%;
    border-radius: 8px;
}

.view .box .info .conte {
    position: absolute;
}

.view .box .info h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.view .box .info p {
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.view .box .info p::before {
    content: "$";
    position: absolute;
    right: 30%;
    bottom: 14px;
    color: #000000b5;
}


.contact {
    background-color: #ccc;
    position: relative;

}

.contact a {
    font-size: 25px;
    padding: 10px 27px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 35px;
}

.fec a:hover {
    color: white;
    background-color: #4267B2
}

.dis a:hover {
    color: white;
    background-color: #5865f3
}

.goo a:hover {
    color: white;
    background-color: #DB4437
}

.pho a:hover {
    color: white;
    background-color: #1DB954
}

.copyright {
    font-size: 25px;
    font-weight: bold;
    color: #111;
}

.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    font-weight: bold;
}

.main-title::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--main-color);
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.main-title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, #fff 25%, transparent 25%), linear-gradient(225deg, #fff 25%, transparent 25%);
    background-size: 30px 30px;
}

.contact button {
    font-size: 25px;
    padding: 10px 27px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 35px;
    background: transparent;
}

.contact button:hover {
    background-color: #1DB954;
    color: #fff;
}

.pop {
    width: 400px;
    background-color: #f2f2f2;
    border-radius: 15px;
    position: absolute;
    left: -14%;
    top: 0;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    z-index: 1000;
    visibility: hidden;
    transition: transform 0.4s, left 0.8s;
}

.opanpop {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
}

.pop h2 {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color-alt);
    letter-spacing: 2px;
    padding: 35px 0 0 0;
}

.pop button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 30px;
}